<a href="https://colab.research.google.com/github/MoeinDSP/Numerical-Analysis-for-Machine-Learning/blob/main/NAML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Moein Taherinezhad

email: moein.taherinezhad@mail.polimi.it

# Introduction to Python

Python is an interpreted language. For the pourposes of this course I suggest you to use either [Colab](https://colab.research.google.com/) or install [Anaconda](https://www.anaconda.com/).

The approach we will adopt is based on the resolution of small problems and projects. In each project we will introduce some features of the language. The course will focus on the use of Python for managing data and for implementing mathematical algorithms.

## Project 1: Fahrenheit to Celsius

**Skills**:

*   input from the command line
*   casting (string to float)
*   variable assignements
*   simple math formulas
*   print
*   functions
* importance of the indentation

**Problem**: ask the user a temperature in Fahrenheit and print the corresponding Celsius value using the the formula
$$
^\circ C = \frac{5}{9}(^\circ F - 32).
$$

In [ ]:
# Ask the user the Fahrenheit temperarature. Notice that the input given by the
# user is a string
fahrenheit_string = input("Enter the temperature in Fahrenheit:")
# Convert the string to number (casting)
fahrenheit = float(fahrenheit_string)
# Use the conversion formula to find the Celsius temperature
celsius = (fahrenheit - 32) * 5/9
# Print the Celsius value
print(celsius)

The problem with the implementation we have just seen is that if we want to perform multiple conversion we ha to re-run the cell. In order to have a tool that can be called many times in an easy way we can create a **function**: a function is defined by the keyword <code>def</code>. Let us see how we can change the implementation making use of the function concept.

In [ ]:
# NOTE the indentation!
def convert(s):   # Definition of the function with the input parameter(s)
 f = float(s)
 c = (f - 32) * 5/9
 return c      # Return the Celsius temperature

Let us now use the new defined function.

In [ ]:
# Ask the user the Fahrenheit temperarature. Notice that the input given
# by the user is a string
fahrenheit_string = input("Enter the temperature in Fahrenheit:")
celsius = convert(fahrenheit_string) # Call the function
print(celsius)

**Exercise 1** Write a Python function for converting from Kelvin to Fahrenheit. The formula is
$$
F = 1.8(K-273.15) + 32.
$$

In [ ]:
convert1("555")

In [ ]:
def convert1(s):   # Definition of the function with the input parameter(s)
 k = float(s)
 f = 1.8*(k-273.15)+32
 return f

In [ ]:
kelvin_string = input("Enter the temperature in Kelvin:")
farhenheit = convert1(kelvin_string) # Call the function
print("The temperature in F is:",farhenheit)

## Project 2: van der Waals equation

The van der Waals equation of state is a modification of the ideal gas law and i takes into account also the molecular size and the molecular interaction forces. This equation can be written as
$$
\left[P+a\left(\frac{n}{V}\right)^2\right]\left(V-nb\right)=nRT,
$$
where $P\,[Pa]$ is the pressure, $V \, [m^3]$ is the volume, $T [K]$ is the temperature, $n$ is the number of moles, $R=8,314 \, [J / (mol âˆ™ K)] $ is the gas constant, finally $a [Pa \, m^6/mol^2]$ and $b [m^3/mol]$ are the van der Waals coefficients characterizing different gases. In the following table values of $a$ and $b$ are reported for some gases.

Gas            |     a   | b
---------------|---------|---------
Helium         | 3.46e-3 | 23.71e-6
Neon           | 2.12e-2 | 17.10e-6
Hydrogen       | 2.45e-2 | 26.61e-6
Carbon dioxide | 3.96e-1 | 42.69e-6
Water vapor    | 5.47e-1 | 30.52e-6
Oxygen         | 1.38e-1 | 31.86e-6

**Skills**.
*   Function with many input parameters
* Help
* Simple formatting
*   Optional input arguments and default values
* Positional and keyword arguments

**Problem**: write a Python function that computes the pressure given the temperature and the volume for a real gas. The input parameters of the function should be $T, V, n, a$ and $b$; the output is the pressure $P$.

In [ ]:
def vanderwaals(T,V,n,a,b):
  R = 8.314
  P = n*R*T/(V-n*b)-a*n**2/V**2
  return P

Let us compute the pressure exerted by $1 \, mol$ of $O_2$ confined in a volume of $0.001 \, m^3$ at $T=273.15 \, K$.

In [ ]:
P=vanderwaals(273.15,0.001,1,1.38e-1,31.86e-6)
print(P)

If you want to visualize the result in scientific notation you can use <code>format</code>. Let us see the help.

In [ ]:
help('FORMATTING')

In [ ]:
P_sn="{:e}".format(P)
print(P_sn)

Let us now suppose we want to modify the previous function in such a way that, by default, $a$ and $b$ are assigned the values relative to the oxygen and the user con override these default values.

In [ ]:
def vanderwaals1(T,V,n,a=1.38e-1,b=31.86e-6):
  R = 8.314
  P = n*R*T/(V-n*b)-a*n**2/V**2
  return P

In [ ]:
P=vanderwaals1(273.15,0.001,1)
print("{:e}".format(P))

Now let us suppose we want to compute the pressure exerted by $1 \, mol$  of  Helium confined in a volume of  $0.001\,m^3$  at  $T=273.15 \, K$.

In [ ]:
P=vanderwaals1(273.15,0.001,1,a=3.46e-3,b=23.71e-6)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,b=23.71e-6,0.001,a=3.46e-3)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,0.001,1,a=3.46e-3)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,0.001,1,3.46e-3)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,0.001,1,b=3.46e-6)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,0.001,1,b=23.71e-6,a=3.46e-3,)
print("{:e}".format(P))

In [ ]:
P=vanderwaals1(273.15,0.001,b=23.71e-6,1,a=3.46e-3)
print("{:e}".format(P))

**Exercise 2** Write a Python function for computing the temperature given all the other parameters. The default values for $a$ and $b$ are the ones for the hydrogen.

## Project 3: area of a circle

**Skills**.
* Module import
* Shortcut name of a module
* Use of a function belonging to an imported module
* Power operator
* Type function
* Function with multiple output
* Tuples and immutable objects
* Access elements of a complex structure (tuple)
* Understand error messages
* Content of a module

**Problem.** Write a function to compute the length and the area of a circle of radius $r$.

In [ ]:
def circle1(r):
  '''
  Function that computes the length of a circle and its area
  INPUT: r = radius
  OUTPUT: L = length
          A = area
  '''
  import math
  L = 2*math.pi*r
  A = math.pi*r**2
  return L,A

In [ ]:
help(circle1)

Help on function circle1 in module __main__:

circle1(r)
    Function that computes the length of a circle and its area
    INPUT: r = radius
    OUTPUT: L = length
            A = area

Let us test our function using $r=3$.

In [ ]:
circle1(3)

(18.84955592153876, 28.274333882308138)

In [ ]:
R=circle1(5)

In [ ]:
R

(31.41592653589793, 78.53981633974483)

In [ ]:
R[1]=55

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(R)

In [ ]:
type(R)

tuple

In [ ]:
AA = R[1]
print(AA)

78.53981633974483

In many cases (most of the times) the names of imported modules are quite long so a shortcut can be used. Let us see an example.

In [ ]:
def circle2(r):
  import math as mt
  L = 2*mt.pi*r
  A = mt.pi*r**2
  return L,A

In [ ]:
L,A = circle2(3)
print(L,A)
print(circle2(3))

In [ ]:
_ , A2 =circle2(4)

In [ ]:
A2

50.26548245743669

In [ ]:
D = circle1(3)
print(D)

(18.84955592153876, 28.274333882308138)

In [ ]:
help(type)

In [ ]:
type(D)

In [ ]:
D[0]

In [ ]:
D[1]

In [ ]:
D[2]

IndexError: tuple index out of range

In [ ]:
D[1]=3

**Exercise 3.** Write a Python function that computes the lengths of the edges $b$ and $c$ of a right triangle given the length of the hypotenuse $a$ and the amplitude of one the angle $\gamma$ (see the following figure).

*Hint*: the function <code>sin</code> and <code>cos</code> belong to the <code>math</code> module. Try <code>help(math)</code> to see the content of the module!

$$
c=a\sin(\gamma)
$$
$$
b=a\cos(\gamma)
$$

![triaes01_rapp4.png]()

In [ ]:
temp = '1234567890'

In [ ]:
temp[0:4]

In [ ]:
import math as mt
dir(mt)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [ ]:
help(mt.log10)

Help on built-in function log10 in module math:

log10(x, /)
    Return the base 10 logarithm of x.

## Project 4: temperature conversion revised

**Skills:**
* docstring
* string definition
* string slicing and indices
* <code>if, elif</code> statement
* logical operator <code>==</code>

**Project**. We want to write a function that is able to perform conversion from Farheneit to Kelvin and viceversa.

In [ ]:
def convtemp(temp):       # temp is a string of the form '10K' or '10F'
  '''
  Function to convert from Kelvin to Fahrenheit and viceversa
  INPUT:
    - temperature to be converted in the form of a string 'valueK|F'
  OUTPUT:
    - converted temperature
  '''
  temp_value = float(temp[0:-1])
  temp_type = temp[-1]    # extract the last character of the string
  #print(temp_value, type(temp_value))
  #print(temp_type, type(temp_type))
  if temp_type == 'K':
    out_temp = 1.8*(temp_value - 273.15)+32
  elif temp_type == 'F':
    out_temp = (temp_value - 32)/1.8+273.15
  return out_temp

In [ ]:
help(convtemp)

Help on function convtemp in module __main__:

convtemp(temp)
    Function to convert from Kelvin to Fahrenheit and viceversa
    INPUT:
      - temperature to be converted in the form of a string 'valueK|F'
    OUTPUT:
      - converted temperature

A string is defined using single or double quotes.

In [ ]:
tt=convtemp('-40F')

In [ ]:
print(tt)

233.14999999999998

**Exercise 4**. Extend the previuos function so that it can handle Kelvin, Fahrenheit and Celsius. You have to add an additional input parameter in order to specify the output format.

## Project 4: computation of the machine epsilon

**Skills:**
* while loop
* logical operator <code>!=</code>

**Project.** Let us compute the machine epsilon `eps` using `while`. Remember that the definition of $\epsilon$ is the smallest number such that $1\neq 1+\epsilon$.

In [ ]:
e=1.0
while (1+e!=1):
    e=e/2

    print(e)

0.5
0.25
0.125
0.0625
0.03125
0.015625
0.0078125
0.00390625
0.001953125
0.0009765625
0.00048828125
0.000244140625
0.0001220703125
6.103515625e-05
3.0517578125e-05
1.52587890625e-05
7.62939453125e-06
3.814697265625e-06
1.9073486328125e-06
9.5367431640625e-07
4.76837158203125e-07
2.384185791015625e-07
1.1920928955078125e-07
5.960464477539063e-08
2.9802322387695312e-08
1.4901161193847656e-08
7.450580596923828e-09
3.725290298461914e-09
1.862645149230957e-09
9.313225746154785e-10
4.656612873077393e-10
2.3283064365386963e-10
1.1641532182693481e-10
5.820766091346741e-11
2.9103830456733704e-11
1.4551915228366852e-11
7.275957614183426e-12
3.637978807091713e-12
1.8189894035458565e-12
9.094947017729282e-13
4.547473508864641e-13
2.2737367544323206e-13
1.1368683772161603e-13
5.684341886080802e-14
2.842170943040401e-14
1.4210854715202004e-14
7.105427357601002e-15
3.552713678800501e-15
1.7763568394002505e-15
8.881784197001252e-16
4.440892098500626e-16
2.220446049250313e-16
1.1102230246251565e-16

In [ ]:
import numpy as np     # we will see numpy in a following lecture
print(np.finfo(float).eps)

2.220446049250313e-16

## Project 5: conversion of a Roman number to decimal format

**Skills:**
* Dictionaries
* <code>for</code> loop
* <code>range</code> and <code>len</code> function
* <code>-=, +=</code> operators
* <code><</code> logical operator

**Problem.** Write a Python function that converts a Roman number to decimal format.

In [ ]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [ ]:
def Roman2Decimal(Roman):
    symbols = {
    'I': 1,
    'V': 5,
    'X': 10,
    'L': 50,
    'C': 100,
    'D': 500,
    'M': 1000
    }
    Decimal = 0
    for i in range(len(Roman) - 1):
        left = Roman[i]
        right = Roman[i + 1]
        if symbols[left] < symbols[right]:
            Decimal -= symbols[left]
        else:
            Decimal += symbols[left]
    Decimal += symbols[Roman[-1]]
    return Decimal

In [ ]:
Roman2Decimal('XCI')

91

In [ ]:
int(13/2)

6

In [ ]:
13%2

1

In [ ]:
a=[]
a.append(6)

In [ ]:
a

[1, 2, 3, 4, 6]

In [ ]:
a+[7]

[1, 2, 3, 4, 6, 7]

**Exercise.** Write a Python function that converts an integer to its binary format.

*Hint:* Consider the following example where we want to convert $13$ to its binary format:

$$
13:2 = 6 \textrm{ with remainder } 1 \\
 6:2 = 3 \textrm{ with remainder } 0 \\
 3:2 = 1 \textrm{ with remainder } 1 \\
 1:2 = 0 \textrm{ with remainder } 1,
$$

now let us take the remainders in reverse order *i.e.* $1101$, this is the binary format of $13$.

The remainder of an integer division is obtained using the operator <code>%</code> and the integer part of the result of a division can be obtained using <code>int</code>. See the following examples:

In [ ]:
7%2

In [ ]:
int(7/2)

Morever you can add elements to a list by using the <code>append</code> method as follows:

In [ ]:
resti=[] # empty list
resti.append(1) # add 1 to the end of the list
resti